@media (max-width: 600px) {
  .nav-link-container {
    width: 100%;
  }

  .home-main-content {
    flex-direction:column;
    padding: 0;
  }

  .home-text{
    text-align: left;
  }

  h2 {
    font-size: 30px;
  }


  .know-img-container img {
    align-self: center;
    width: 70%;
    aspect-ratio: 3/2;
    object-fit: contain;
    padding: 5px;
    height: 50px;
    border-radius:.5rem;
  }

  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
