@media (max-width: 600px) {
  .nav-link-container {
    width: 100%;
  }

  .home-main-content {
    flex-direction:column;
    padding: 0;
  }

  .home-text{
    text-align: left;
  }

  .main-h1 {
    text-align: center;
    font-size: 49px;
  }

  h2 {
    font-size: 30px;
  }

  .img-avatar-container {
    align-self: center;
  }

  .know-img-container img {
    aspect-ratio: 3/2;
    object-fit: contain;
    height: 50px;
    border-radius:.5rem;
  }

  .know-img {
    background-color: transparent ;
  }

  .know-title {
    display: none;
  }

  .block-know-card {
    width: 90px;
    padding: 0;
  }

  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
