:root {
  --clr-primary-100: #DCD7BA;
  --clr-primary-150: #BDAE93;
  --clr-primary-180: #47463F;
  --clr-primary-200: #FF9E3B;
  --clr-primary-300: #3C3D3C;
  --clr-primary-400: #32302F;
  --clr-primary-900: #16161D;
  --clr-secondary-red: #71322D;
  --clr-secondary-red-l: #E6644C;
  --clr-secon-green-brown: #4C4E31;
  --clr-secon-green-light: #B2B553;

  --clr-red-gradient:-webkit-linear-gradient(45deg,
  hsl(2deg 75% 46%) 0%,
  hsl(11deg 78% 47%) 11%,
  hsl(17deg 80% 48%) 22%,
  hsl(22deg 82% 48%) 33%,
  hsl(26deg 84% 49%) 44%,
  hsl(30deg 85% 50%) 56%,
  hsl(33deg 88% 52%) 67%,
  hsl(36deg 91% 54%) 78%,
  hsl(39deg 93% 56%) 89%,
  hsl(42deg 95% 58%) 100%);
  --clr-green-gradient: -webkit-linear-gradient( 45deg,
  hsl(62deg 40% 52%) 0%,
  hsl(62deg 36% 49%) 11%,
  hsl(63deg 35% 46%) 22%,
  hsl(63deg 34% 43%) 33%,
  hsl(63deg 32% 40%) 44%,
  hsl(63deg 31% 37%) 56%,
  hsl(64deg 29% 34%) 67%,
  hsl(64deg 27% 31%) 78%,
  hsl(64deg 25% 28%) 89%,
  hsl(64deg 23% 25%) 100%);

}

html {
  scroll-behavior: smooth;
  scroll-padding: 20px;
}

.main-h1 {
  font-size: 54px;
  display: inline-block;
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: center;
}

.myName {
  background: var(--clr-red-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.myName:hover {
  background: var(--clr-green-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .3s
}

.social-section {
  display: flex;
  align-content: center;
  gap: 1rem;
}

.social-header-link:nth-child(1) {
  width: 130px;
}

.social-header-link:nth-child(1) .social-text {
  padding-left: .5rem;
  color: var(--clr-primary-900);
  font-weight: bold;
}
.social-header-link {
  display: flex;
  width: 45px;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-secon-green-light);
  border-radius: 1rem;
  align-self: center;
}

.social-icon {
  padding-top: 4px;
  width: 40px;
}

.nav-link-container {
  border-radius: 6% / 50%;
  background-color:var(--clr-primary-900);
  border: 1px solid var(--clr-primary-100);
  padding: 2px .5rem;

  display: flex;
  justify-content: center;

  width: 40%;
  height: 52px;
  gap: 9px;
}

.link {
  height: 42px;
  cursor:pointer;
  align-self: center;
  text-align: center;
  display: flex;
  justify-content: center;

  color: var(--clr-primary-100);
  border-radius: 15% / 50%;
  width: 50%;
}

.link:hover {
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-200);
  transition: .3s;
}

.link p {
  align-self: center;
  font-size: 16px;
}

.home-main-content {
  padding: 0 3.4rem;

  display: flex;
  gap: 3rem;
}

.home-parragrafh {
  font-size: 18px;
}

.img-avatar-container {
  flex-grow: 1;
}

.avatar {
  width: 260px;
  border-radius: 1rem;
}

.emoji-header {
  font-size: 64px;
  display: inline-block;
  vertical-align:12px;
}

h2 {
  color: var(--clr-primary-200);
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  gap: 9px;
  padding: 1rem;
  text-align: center;
}

.project-card-header{
  cursor:pointer;
  display: flex;
  flex-direction:column;
  gap: 15px;
}

.project-image{
  width: 90%;
  aspect-ratio: 5/4;
  object-fit:contain;
  align-self: center;
  padding: 9px 1rem;
  border-radius: 1rem;
}


.project-card-header:hover .project-image {
  background-color: var(--clr-primary-900);
}

.project-card-header:hover p {
  color: var(--clr-secondary-red-l);
  font-weight: bold;
}

.project-card-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 30px;
  width: 100%;
  border-radius: 6% / 50%;
  font-weight: bold;
  border: 1px solid var(--clr-primary-100);
}

.icon-project-container{
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}


.knowledge {
  border-radius:1rem;
}

.block-know {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  width: 100%;
}

.array-know {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.block-know-card {
  display: flex;
  gap: .5rem;
  width: 320px;

  padding: .5rem 1rem .5rem 1rem;

  background-color: var(--clr-primary-400);
  border: 1px solid var(--clr-primary-100);
  border-radius: 1rem;
}

.know-img-container {
  align-self: center;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.know-img {
  width: 60px;
  display: flex;
  justify-content: center;
  aspect-ratio: 1/1;
  padding: 5px;
  
  border-radius: 1rem;
  background-color: var(--clr-primary-300);
}

.know-title {
  display: flex;
  flex-direction: column;
  color: var(--clr-primary-100);
}

.know-title * {
  margin: 0;
}


.project-link {
  color: var(--clr-primary-900);
  background-color: var(--clr-primary-150) ;
  border: 1px solid var(--clr-primary-100);
  font-weight: 500;
  padding: .3rem;
  width: 50%;
  border-radius: 1rem;
}

.project-link:hover {
  color: var(--clr-primary-100);
  background-color: var(--clr-primary-180)
}

